<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/aboutPageStyle.css">

    <title>Sylvester Stallone</title>
</head>
<body>
    <h1>Sylvester Stallone</h1>
    <p><strong>Full Name:</strong> Michael Sylvester Gardenzio Stallone</p>
    <p><strong>Birth Date:</strong> July 6, 1946</p>
    <p><strong>Birth Place:</strong> New York City, New York, USA</p>
    <p><strong>Occupation:</strong> Actor, Director, Screenwriter</p>
    <p>Sylvester Stallone is best known for his iconic role as Rocky Balboa in the "Rocky" film series, as well as for his portrayal of John Rambo in the "Rambo" film series. He is a talented actor, director, and screenwriter and has been entertaining audiences for decades.</p>
  </body>
</html>