<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to my page</title>
    <link rel="stylesheet" href="/stylesheets/homePageStyle.css">
</head>
<body>
    <h1>Hi!</h1>
    <h2>Do you want to know a little about one of the biggest stars in Hollywood?</h2>
    <a href="/views/about-page.html">let's see it...
    </a>
    
</body>
</html>