<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/workStyle.css">
    <title>Document</title>
</head>
<body>
    <h1>His best movies!</h1>
    <ul>
        <li class="clearfix">
          <img class="movie-poster" src="https://i.etsystatic.com/27089413/r/il/4cd0d6/3681368747/il_fullxfull.3681368747_bo2m.jpg">
          <strong>Rocky</strong><br>
          (1976)
        </li>
        <li class="clearfix">
          <img class="movie-poster" src="https://m.media-amazon.com/images/M/MV5BODBmOWU2YWMtZGUzZi00YzRhLWJjNDAtYTUwNWVkNDcyZmU5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_.jpg">
          <strong>Rambo: First Blood</strong><br>
          (1982)
        </li>
        <li class="clearfix">
          <img class="movie-poster" src="https://m.media-amazon.com/images/I/510s4JucOWL._AC_.jpg">
          <strong>Rocky Balboa</strong><br>
          (2006)
        </li>
        <li class="clearfix">
          <img class="movie-poster" src="https://i.pinimg.com/originals/c6/65/28/c6652892fc20dbe5e7e0b95e32cd4f35.jpg">
          <strong>The Expandables</strong><br>
          (2010)
        <li class="clearfix">
         <img class="movie-poster" src="https://www.themoviedb.org/t/p/original/pxWuGsyzVQSqHWxVQLy4XUcopIL.jpg">
         <strong>Demolition Man</strong><br>
        (1993)
         <li class="clearfix">
           <img class="movie-poster" src="https://i.etsystatic.com/35330351/r/il/c41aca/3951886657/il_fullxfull.3951886657_3zqv.jpg">
           <strong>Cliffhanger</strong><br>
           (1993)
</body>
</html>